
  <div id="question-list-wrapper">
    <% @questions.each do |question| %>

    <ul class="question-list">
      <li>
        <h4><a href="/questions/<%= question.id %>"><%= question.title %></a></h4>
        <a href='/question/<%= question.id %>/vote' class="up-vote-button">+</a>
        <p id="vote_count">3</p>
        <p><%= question.created_at %></h4>
      </li>
    </ul>
    <% end %>
  </div>


