<div id="questions">
	<div id="questions-list-container">
		
			<ul>
				<li>
					<p><%= question.created_at %></p>
					<h2><a href="/questions/<%= question.id %>"><%= question.title %></a></h2>

				</li>
			</ul> 
	</div>
</div>

