<h1>Please log in</h1>
<form action="/login" method="post">
  Email: <input type="text" name="email" /><br>
  Password: <input type="password" name="password" />
  <input type="submit" value="Login" class="button">
</form>