<h1>Please register for our site!</h1>
<form action="/users/new" method="post">
  Email: <input type="text" name="email" /><br>
  Password: <input type="password" name="password" /><br>
  Username: <input type="text" name="username" />
  <input type="submit" value="Register" class="button">
</form>